<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download Files</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <style>
        .folder { color: #2c5282; cursor: pointer; }
        .file { color: #2d3748; }
        .back { color: #718096; cursor: pointer; }
        .item { padding: 5px; }
    </style>
</head>
<body>
    <h1>Download Files</h1>
    <div id="password-form">
        <label for="password">Password:</label>
        <input type="password" id="password" required>
        <button onclick="listFiles()">Show Files</button>
    </div>
    <div id="files-list" style="display: none;">
        <h2>Files and Folders: <span id="current-path"></span></h2>
        <ul id="files"></ul>
    </div>
    <a href="/">Back to Home</a>

    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
